p {
	padding: 0;
	margin-bottom: auto;
	line-height: 1.2;
}

.pres {
	text-transform: none;
	border-color: #F5E3B6;
}

.pres-title {
	transform: translateY(10%);
	color: #F5E3B6;
}

.pres-text {
	transform: translateY(10%);
}

.vh-40 {
	height: 40vh;
}

.logo {
	max-height: 50%;
	width: auto;
	transform: translateY(50%);
}

.logo2 {
	padding-right: 4rem;
	padding-left: 4rem;
}