.br-yellow {
	border-color: #F5E3B6;
}

.logo-card {
	width: 15%;
	height: auto;
}

.h-maxcontent {
	height: max-content;
}

.card-title {
	color: #F5E3B6;
}

@media screen and (max-width: 800px), screen and (max-height: 600px) {
	.logos{
		visibility: visible;
	}

}

@media screen and (orientation: portrait) {
	.card-container{
		display: flex;
		flex-direction: column;
	}
	.card-component{
		width: 100%;
	}
	.br-yellow {
		border-right: none;
	}
	.logos{
		visibility: visible;
	}
}

@media screen and (orientation: landscape) {
	.card-component{
		width: 50%;
	}
	.br-yellow{
		border-right: solid;
		border-color: #F5E3B6;
	}
}