.w-45 {
	width: 45%;
}

.w-5 {
	width: 5%;
}

.mtb-em {
	margin-top: 1em;
	margin-bottom: 1em;
}

.overflow-y-overlay {
	overflow-y: auto;
}

.about-title {
	color: #F5E3B6;
}

.about-button {
	color: #F5E3B6;
}

.about-button:hover {
	color: white;
	text-decoration: underline;
}

@media screen and (orientation: portrait) {
	.about-part2{
		display: none;
		width: 90%;
	}
	.about-part1 {
		width: 90%;
	}
	.about-link{
		border-color: #F5E3B6;
	}
}

@media screen and (orientation: landscape) {
	.about-part2{
		display: flex !important;
	}
	.about-part1{
		display: flex !important;
	}
	.about-link{
		display: none !important;
	}
}