.vh-5 {
	height: 6vh;
}

.link {
	/*transition: all .2s ease-in-out;*/
	text-transform: capitalize;
}

.link:hover {
	color: #453D37;
	text-shadow: 1px 1px 5px white;
	/*transform: scale(1.1);*/
	text-decoration: underline;
}

.nav-background {
	background-color: #C2B2A6;
}

.nav-top {
	overflow: hidden;
}

.nav-top p{
	display: block;
}