.App {
  text-align: center;
  /*background-color: #56504B;*/
  color: #040200; /*#1B140F; /*#F3E9E1;*/
  font-size: 1.2em;
  /*font-weight: bold;*/
  font-family: Verdana, sans-serif;
  background-image: linear-gradient(to top, #56524B , #C2B2A6);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.vh-5{
  height: 5vh;
}

.ma-auto {
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 800px) {
  .App {
    font-size: 0.8em;
  }
}