.arrow {
	width: 25px;
	height: 25px;
	border: solid #1D1510;
 	border-width: 0 3px 3px 0;
  	display: inline-block;
 	padding: 3px;
}

.arrow:hover {
	border: solid #FFFFFF;
 	border-width: 0 3px 3px 0;
}

.w-button {
	width: 2.5em;
}

.button-prev {
	transform: rotate(135deg);
}

.button-next {
	transform: rotate(-45deg);
}