.h-95 {
	height: 95%;
}

.h-5 {
	height: 5%;
}

.w-button {
	width: 2.5em;
}

.circle {
	height: 1em;
  	width: 1em;
	background-color: #666;
	border-radius: 50%;
}

.arrow {
	width: 25px;
	height: 25px;
	border: solid black;
 	border-width: 0 3px 3px 0;
  	display: inline-block;
 	padding: 3px;
}

.button-prev {
	transform: rotate(135deg);
}

.button-next {
	transform: rotate(-45deg);
}